*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #e9f6f8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  text-align: center;
}

.avatar {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow:
    0 0 0 3px rgb(95, 166, 179),
    0 0 13px #333;
}

.main {
  max-width: 1000px;
  width: 100%;
}

details {
  user-select: none;
}

summary {
  cursor: pointer;
}
